/* STYLES */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* DASHBOARD BUTTON */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header,
h1 {
  font-size: 40px;
}
.button {
  position: relative;
  width: 300px;
  margin-left: 20px;
  display: flex;
  color: white;
}

/*GRAPHS*/
.dashboard-content {
  flex-direction: column;
  width: 500px;
}
.line-graphs-container {
  display: block;
  align-items: center;
}
.boxtotalpatient {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px; /* Half of the height */
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 220px;
  padding: 20px; /* Adjust padding accordingly */
  margin: 10px;
  height: 90px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 56, 68, 1) 0%,
    rgba(163, 217, 185, 1) 51.5%,
    rgb(203, 219, 200) 88.6%
  );
  color: white;
}

.boxtotalbed {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px; /* Half of the height */
  background-color: rgb(255, 255, 255);
  position: relative;
  display: block;
  width: 220px;
  padding: 20px; /* Adjust padding accordingly */
  margin: 10px;
  height: 90px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 56, 68, 1) 0%,
    rgba(163, 217, 185, 1) 51.5%,
    rgb(203, 219, 200) 88.6%
  );
  color: white;
}

.boxtitle1 {
  position: absolute;
  top: 10;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.boxtitle {
  position: absolute;
  top: 0;
  left: 40px;
  font-size: 20px;
  font-weight: bold;
}
.result {
  margin: auto;
  font-size: 30px;
  font-weight: bold;
  align-content: center;
  display: flex;
  justify-content: center;
}

.line-graph {
  position: relative;
}

.green-arrow {
  color: rgb(60, 255, 0);
  animation: arrowUp 2s;
}
.red-arrow {
  color: rgb(221, 0, 0);
  animation: arrowDown 2s;
}
@keyframes arrowUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes arrowDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* STYLES FOR 3 METER GRAPHS */
.multi-graph {
  width: 300px;
  height: 150px;
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

.multi-graph:before {
  content: "";
  width: 300px;
  height: 150px;
  border: 50px solid rgba(0, 0, 0, 0.15);
  border-bottom: none;
  position: absolute;
  box-sizing: border-box;
  transform-origin: 50% 0%;
  border-radius: 300px 300px 0 0;
  left: 0;
  top: 0;
}
.graph {
  width: 300px;
  height: 150px;
  border: 50px solid var(--fill);
  border-top: none;
  position: absolute;
  transform-origin: 50% 0% 0;
  border-radius: 0 0 300px 300px;
  left: 0;
  top: 100%;
  z-index: 5;
  animation: 1s fillGraphAnimation ease-in;
  transform: rotate(calc(1deg * (var(--percentage) * 1.8)));
  box-sizing: border-box;
  cursor: pointer;
}
.graph:after {
  content: attr(data-name) " " counter(varible) "%";
  counter-reset: varible var(--percentage);
  background: var(--fill);
  box-sizing: border-box;
  border-radius: 2px;
  color: #fff;
  font-weight: 200;
  font-size: 12px;
  height: 20px;
  padding: 3px 5px;
  top: 0px;
  position: absolute;
  left: 0;
  transform: rotate(calc(-1deg * var(--percentage) * 1.8)) translate(-30px, 0px);
  transition: 0.2s ease-in;
  transform-origin: 0 50% 0;
  opacity: 0;
}
.graph:not(.opd):hover:after {
  opacity: 0;
}

.graph.opd:hover:after {
  opacity: 1;
  left: 30px;
  color: #000000;
}
.graph.ipd:hover:after {
  opacity: 1;
  left: 30px;
  color: #000000;
}
.graph.er:hover:after {
  opacity: 1;
  left: 30px;
  color: #000000;
}

@keyframes fillAnimation {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(135deg);
  }
}

@keyframes fillGraphAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}

.label {
  color: black;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
}

.label.left {
  left: 60px;
  top: 213px;
  transform: translate(-50%, -50%);
}

.label.top {
  top: 120px;
  left: 150px;
  transform: translateX(-50%);
}

.label.right {
  right: 67px;
  top: 210px;
  transform: translate(50%, -50%);
}

.label.halfright {
  right: 89px;
  top: 155px;
  transform: translate(50%, -50%);
}

.label.halfleft {
  left: 90px;
  top: 155px;
  transform: translate(-50%, -50%);
}

.chart-label {
  text-align: center;
}
.Filter-button {
  height: 30px;
  width: 145px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 5px;
  background-color: rgba(0, 56, 68, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  cursor: pointer;
}
body {
  /* background-color: #48ff00; */
  background-image: radial-gradient(
    circle 1292px at -13.6% 51.7%,
    rgba(0, 56, 68, 1) 0%,
    rgba(163, 217, 185, 1) 51.5%,
    rgb(203, 219, 200) 88.6%
  );
}

.Meter-container {
  box-shadow: 0 2px 4px rgba(51, 104, 54, 0.767), 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  width: 1350px;
  padding: 60px;
  margin: 10px;
  height: 270px;
  color: white;
}
.bar-graphContainer {
  box-shadow: 0 2px 4px rgba(51, 104, 54, 0.767), 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  width: 1350px;
  padding: 60px;
  margin: 10px;
  height: 270px;
  color: white;
}
.Number-box {
  position: relative;
}
