/* STYLES */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* /----------- navbar.php -------------/
/------- navbar style -------/ */
.navigation-bar {
  height: 60px;
  background-color: rgba(236, 194, 104, 0.842);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-title {
  width: 100%;
}

.header-sections {
  display: flex;
  justify-content: flex-end;
  margin-left: 60%;
}

.nav-link {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* DASHBOARD BUTTON */
.header {
  display: flex;
}
.header,
h1 {
  font-size: 40px;
}
.button {
  position: relative;
  width: 300px;
  margin-left: 20px;
  display: flex;
}

/* Box */
.numbers {
  display: flex;
}
.boxtotalpatient {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 200px;
  border: 1px solid rgb(27, 34, 27);
  padding: 70px;
  margin: 10px;
  height: 50px;
}

.boxtotalbed {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 220px;
  border: 1px solid rgb(27, 34, 27);
  padding: 70px;
  margin: 10px;
  height: 50px;
}

.boxgraph {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 80%;
  padding: 60px;
  margin: 10px;

  height: 150px;
  border: 1px solid black;
}
.boxtitle1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
}
.boxtitle {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
}
.result {
  margin: auto;
  font-size: 30px;
  font-weight: bold;
  align-content: center;
  display: flex;
  justify-content: center;
}
.graphs-bottom {
  display: flex;
  gap: 20px; /* Add spacing between graphs */
  margin-top: 80px; /* Add margin top */
  width: 1850px;
}
.line-graph {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  border: 1px solid rgb(27, 34, 27);
  height: 150px;
}
.yearly-graph {
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 400px;
}
